* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
    color: #303030;
}

body {
    overflow-x: hidden;
}

.cajita-feliz {
    width: 100vw;
    height: auto;
    position: absolute;
    z-index: 1;
}


/*============================
=           MODAL            =
============================*/

#modal {
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: row;
    background-color: #303030cc;
    position: fixed;
    z-index: 103;
}

.izq-modal {
    width: 75%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-modal {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 5;
}

.img-modal0 {
    width: 80%;
    height: 80%;
    background-image: url(../img/modal-img/1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.img-modal1 {
    width: 80%;
    height: 80%;
    background-image: url(../img/modal-img/2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.img-modal2 {
    width: 80%;
    height: 80%;
    background-image: url(../img/modal-img/3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.img-modal3 {
    width: 80%;
    height: 80%;
    background-image: url(../img/modal-img/4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.content-btn {
    width: 100%;
    height: 10%;
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 10;
}

.btn-exit {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #303030;
    transition: .3s;
    margin-left: 20px;
    cursor: pointer;
    color: #f1f1f1;
    font-size: 800;
    font-size: 1.6em;
}

.btn-exit:hover {
    box-shadow: 0px 0px 7px 1px #ffffff48;
}

.der-modal {
    width: 25%;
    height: 100%;
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.content-titulo {
    width: 95%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-titulo h2 {
    width: 95%;
    height: 70%;
    font-size: 2.5em;
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-comentario {
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: center;
}

.content-comentario p {
    width: 95%;
    height: 80%;
    font-size: 1.2em;
    text-align: right;
    display: flex;
    justify-content: center;
}

.content-boton {
    width: 95%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 200px;
    height: 60px;
    background-color: #d9ffbb;
    overflow: hidden;
    border-radius: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover .btn-line {
    margin-left: 0px;
}

.btn:active .btn-line {
    height: 100%;
}

.btn a {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.btn-line {
    width: 100%;
    height: 5px;
    margin-left: -190px;
    transition: .3s;
    position: absolute;
    background-color: #9bd16e;
    left: 0;
    bottom: 0;
    z-index: 5;
}


/*============================
=          END-MODAL         =
============================*/

#header {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #f1f1f1;
    position: relative;
    text-align: center;
}

nav {
    width: 100%;
    height: 95px;
    background-color: #f1f1f1;
    overflow: hidden;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    z-index: 100;
}

nav ul {
    width: 70%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

nav ul li {
    width: 150px;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li:hover {
    box-shadow: 0px 0px 7px 1px #2f2c291a;
}

nav ul li a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    letter-spacing: 2px;
    color: #2f2c29;
}

.li-img {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.li-img:hover {
    box-shadow: 0px 0px 7px 1px #2f2c2900;
}

.a-img {
    background-image: url(../img/logo.png);
    background-position: center;
    background-size: 80px;
    background-repeat: no-repeat;
}

.content-nb {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.btn-nb {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #bff59c;
}

.header-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.header-video video {
    min-width: 100%;
    min-height: 100%;
}

.header2 {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f1f1f14d;
    z-index: 1;
}

.header-content {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2f2c29;
}

.header-content h2 {
    width: 225px;
    height: 225px;
    font-family: 'Coming Soon', cursive;
    font-size: 4em;
    line-height: 65px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.flecha {
    width: 50px;
    height: 40px;
    background-image: url(../img/g1116.png);
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.flecha:hover {
    transition: .4s;
    transform: scale(1.1);
}

#about {
    width: 100vw;
    height: 100vh;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.a-container {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.a-content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.txt-content {
    width: 720px;
    height: 428px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    box-shadow: -8px 8px 20px #30303030;
    z-index: 5;
}

.at-txt {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.at-txt h2 {
    width: 100%;
    font-size: 3em;
    margin-bottom: 10px;
}

.at-txt h3 {
    width: 100%;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.at-txt p {
    width: 90%;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.at-btn {
    width: 35%;
    height: 60px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bff59c50;
    overflow: hidden;
}

.at-btn:hover .at-btn-line {
    width: 100%;
    transition: .4s;
}

.at-btn:active .at-btn-line {
    width: 100%;
    height: 100%;
    transition: .2s;
}

.at-btn a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    color: #2f2c29;
    position: absolute;
    z-index: 7;
}

.at-btn-line {
    width: 0px;
    height: 3px;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 6;
    background-color: #8eb876;
}

.img-content {
    width: 400px;
    height: 600px;
    margin-left: -100px;
    z-index: 4;
}

.about-img {
    width: 100%;
    height: 100%;
    /*background-color: #775897;*/
    background-image: url(../img/about.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/*============================
=          GALLERY           =
============================*/

#gallery {
    width: 100vw;
    height: 100vh;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.g-container {
    width: 90%;
    height: 85%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.izq-g {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.izq-g h4,
.izq-g h5,
.izq-g p {
    width: 90%;
    padding: 5px;
    text-align: center;
    color: #303030;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.izq-g h4 {
    font-size: 3em;
}

.izq-g h5 {
    font-size: 1.5em;
    font-weight: 300;
}

.izq-g p {
    font-size: 1em;
}

.der-g {
    width: 65%;
    height: 100%;
    position: relative;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-content {
    width: 80%;
    height: 90%;
    position: absolute;
    background-color: #f1f1f1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(100px, auto);
    gap: 1em;
    padding: 1em;
    box-shadow: -8px 8px 20px #40404026;
    z-index: 11;
}

.box1 {
    grid-column: 1/2;
    grid-row: 1/4;
    background-image: url(../img/grid/1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.box2 {
    grid-column: 2/4;
    grid-row: 1/2;
    background-image: url(../img/grid/2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.box3 {
    grid-column: 4/5;
    grid-row: 1/4;
    background-image: url(../img/grid/3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.box4 {
    grid-column: 2/3;
    grid-row: 2/4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box5 {
    grid-column: 3/4;
    grid-row: 2/4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box6 {
    grid-column: 1/3;
    grid-row: 4/6;
    background-image: url(../img/grid/6.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.box7 {
    grid-column: 3/5;
    grid-row: 4/8;
    background-image: url(../img/grid/7.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.box8 {
    grid-column: 1/2;
    grid-row: 6/8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box9 {
    grid-column: 2/3;
    grid-row: 6/8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box4 h2,
.box5 h2,
.box8 h2,
.box9 h2 {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #303030;
    text-align: center;
    font-size: 1em;
}

.box4,
.box5,
.box8,
.box9 {
    cursor: pointer;
    background-color: #f1f1f1;
    box-shadow: 0px 0px 20px #40404026;
}

.box4:hover {
    box-shadow: 0px 0px 20px #f1f1f100;
}

.box5:hover {
    box-shadow: 0px 0px 20px #f1f1f100;
}

.box8:hover {
    box-shadow: 0px 0px 20px #f1f1f100;
}

.box9:hover {
    box-shadow: 0px 0px 20px #f1f1f100;
}


/*============================
=         CONTACTO           =
============================*/

#contacto {
    width: 100vw;
    height: 100vh;
    background-color: #f1f1f1;
    display: flex;
    align-items: flex-end;
}

.c-container {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.c-form {
    width: 60%;
    height: 80%;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: -8px 8px 20px #40404026;
    z-index: 10;
    display: flex;
    justify-content: flex-start;
}

.content-form {
    width: 62%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-form {
    width: 80%;
    height: 18%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-form h2 {
    color: #303030;
    font-size: 2em;
    font-weight: 600;
    letter-spacing: 2px;
}

.titulo-form h3 {
    color: #9b9b9b;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 2px;
}


/*==== FORM 2 ====*/

#form2 {
    width: 100%;
    height: 82%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.dato-form2 {
    width: 90%;
    height: 40px;
    display: flex;
    background-color: #f1f1f1;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: visible!important;
}

.input-form2 {
    width: 90%;
    height: 85%;
    background-color: #f1f1f100;
    border: 2px solid #e4e4e400;
    position: absolute;
    font-size: 1.1em;
}

.input-form2:focus {
    outline: none !important;
}

.lbl-form2 {
    width: auto;
    height: auto;
    position: absolute;
    left: 20px;
    top: 8px;
    font-size: 1.2em;
    color: #9b9b9b;
}

.line-form {
    width: 100%;
    height: 5px;
    background-color: #b9e79e;
    position: absolute;
    opacity: 0;
    left: -450px;
    bottom: 0px;
}

.mensaje-form2 {
    width: 90%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: visible!important;
}

.textarea-form2 {
    width: 95%;
    height: 90%;
    background-color: #f1f1f100;
    border: 2px solid #e4e4e400;
    position: absolute;
    font-size: 1.1em;
}

.textarea-form2:focus {
    outline: none !important;
    border: 2px solid #e4e4e4b7;
}

.lbl-mensaje2 {
    width: auto;
    height: auto;
    position: absolute;
    left: 15px;
    top: 8px;
    font-size: 1.2em;
    color: #9b9b9b;
}

.enviar-form2 {
    width: 25%;
    height: 50px;
    background-color: red;
    position: relative;
}

.btn-form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-form:hover .line-form {
    left: 0px;
    opacity: 1;
    transition: .2s;
}

.btn-form input {
    width: 100%;
    height: 100%;
    background-color: #e7ffda;
    cursor: pointer;
    border: 2px solid #e4e4e400;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    letter-spacing: 2px;
}


/*==== C-DATOS ====*/

.c-datos {
    width: 30%;
    height: 70%;
    margin-right: -650px;
    position: absolute;
    background-color: #b9e79e;
    box-shadow: -8px 8px 20px #40404026;
    z-index: 12;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo-datos {
    width: 80%;
    height: 15%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.titulo-datos h2 {
    color: #303030;
    font-size: 2em;
    letter-spacing: 2px;
}

.content-datos {
    width: 80%;
    height: 65%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.dato {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
}

.img-dato {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5em;
    color: #303030;
}

.txt-dato {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.txt-dato p {
    margin-left: 10px;
    font-size: 1em;
}


/*================================
=         END-CONTACTO           =
================================*/

#footer {
    width: 100vw;
    height: 10vh;
    background-color: #303030;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer p {
    font-size: 1em;
    color: #f1f1f1;
}

#footer p a {
    font-size: 1em;
    color: #b9e79e;
}

#footer p a:hover {
    text-decoration: underline;
}